* { margin: 0; }
	.wrap { width: 1000px; margin: auto; }
	.header { position: fixed; top: 0; width: 1000px; z-index: 1111; background-image: url('img.jpg') }
	.title { text-shadow: 10px 10px 15px; font-size: 70pt; text-align: center; }
	.content { margin-top: 200px; } /* 위에서부터 떨어짐 */
	
	nav { background-color: black; }
	nav ul { display: flex; justify-content: flex-end; list-style: none; }
	nav ul li { padding: 10px; margin: 0 3px; }
	nav ul li a { text-decoration: none; color: white; }
	nav ul li:hover { background-color: #8c8c8c;}
	
	form { margin: 0 auto; width: 70%; border: 1px solid gray; padding: 20px; border-radius: 15px; }
	form label { width: 120px; display: inline-block; padding: 7px 0; vertical-align: top; } /* 사이즈 변경하기위해 inline방식을 block방식으로 변경 */
	input { border-radius: 15px; height: 25px; border: 1px solid red; width: 50%; }
	textarea { border-radius: 15px; width: 70%; height: 100px; }
	button { margin-left: 130px; padding: 10px 20px; border-radius: 5px; background-color: lime; color: red; }
	button:active { border-radius: 10px; background-color: maroon; box-shadow: 2px 2px 2px; } /* 버튼 클릭 시 */